@media (max-width: 767px) {
    .sm\:hidden {
      display: none;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .md\:hidden {
      display: none;
    }
  }
  
  @media (min-width: 1024px) {
    .lg\:flex {
      display: flex;
    }
  }


  .A_Few_Words {
    background: linear-gradient(to right,#ff01d5, #1c10ff );
    -webkit-background-clip: text;
    width: 120px;
    font-weight: 500;
    text-align: left;
    -webkit-text-fill-color: transparent;
  }

  
  
  
  
  
  
  
  
  
  
  
  
  
  